.card {
  position: relative;
  background-color: #9c04ab;
  color: #9c04ab;
  top: 0;
  height: 20px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%w;
}
